<html>
<head>
   <title>Pizza Personality</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="website" />
    <meta property="og:type"          content="quiz" />
    <meta property="og:title"         content="Hey guys, check out my pizza personality!" />
    <meta property="og:image"         content="http://www.thickslicepizza.com/img/photo3.jpg" />

<body>

<body id="background1">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<center>
	
	<h1 class="header" style="padding: 70px 10px 10px 10px">Pizza Personality is...</h1>
<br>
<br>
<br>
<br>
<div id="block">
<div id="container1">

 <p class="body1">
<%= @name%>
<%= @description%>


</div>
</div>
<div class="fb-share-button"  data-href="<%= request.original_url %>" data-layout="button_count"></div>

</center> 
</head>
