
<body id="background1">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
<center>
	
	<h1 class="header" style="padding: 70px 10px 10px 10px">Pizza Personality is...</h1>
<br>
<br>
<br>
<br>

<div id="block">
<div id="container1">

 <p class="body1">
<%= @name%>
<%= @description%>


</div>
</div>
</center> 
