<center>
	<div class="row">
  <div class="col-md-4"><% @questions.each_with_index do |question,index| %>
  	<br>
	<%= question.name %></div>
  <div class="col-md-4"><% @options[index].each do |option| %>
      <%= option.name %></div>
<div class="col-md-4"> </div>
</div>
  
  <%end%>
<% end%>

</center>

