<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />


.header {
	font-family: Raleway;
	font-size: 48px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 76.8px;
}

<script src="https://use.fonticons.com/045625aa.js"></script>

